*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.tabS{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.tabS div{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
body{
    background: #f0f0f0;   
}

.container{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
}

#lbl{
    background: #234;
}

#lbl label{
    display: inline-block;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}

#lbl label:hover{
    background: #28435d;
}

#content{
    position: relative;
}

.tab{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    padding: 30px;
    background: white;
    padding-bottom: 40px;
}

.radio{
    display: none;
}



#content .tabS:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-top: 10px solid transparent;
    bottom: 100%;
    left: 28px;
}

#content #tab2:after{
    left: 122px;
}
#content #tab3:after{
    left: 210px;
}
#content #tab4:after{
    left: 303px;
}
#content #tab5:after{
    left: 395px;
}
#content #tab6:after{
    left: 487px;
}
#content #tab7:after{
    left: 579px;
}
#content #tab8:after{
    left: 671px;
}
#content #tab9:after{
    left: 763px;
}
#content #tab10:after{
    left: 855px;
}